@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;800&display=swap');
$mainFont: 'Dosis';
$orange: rgb(255, 114, 94);
$whiteish: rgb(250, 250, 250);
$mintGreen: rgba(0, 191, 140, 1);

* {
    font-family: $mainFont, sans-serif;
    margin: 0;
    padding: 0;

    h1,
    h2,
    h3 {
        margin: 30px 0;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: $orange;
    }

    h1 {
        font-size: 7rem;
        font-weight: 800;
        margin: 0;

    }

    h2 {
        font-size: 3rem;
        font-weight: 500;
    }

    h3 {
        font-size: 2rem;
        font-weight: 500;
    }
    ::-webkit-scrollbar{
        background: rgba(250, 250, 250, .5);
        width: 12px;

     }
     ::-webkit-scrollbar-thumb{
         background: $mintGreen;
         border-radius: 25px;
     }
     scrollbar-color: rgba(250, 250, 250, .5) $mintGreen;
     scrollbar-width: auto; 
    
    body {
        box-sizing: border-box;
        background-image: url(../img/background.svg);
        background-size: cover;

        .main-wrapper {
            width: 60rem;
            height: 70rem;
            max-width: 100%;
            margin: 20px auto;
            padding: 30px 0;
            box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.4);
            background-color: rgba(250, 250, 250, .9);
            border-radius: 15px;
            position: relative;
            .home-page-wrapper{
                display: none;
            }

            .home-page-wrapper.visible {
                display: block;
                width: 100%;
                height: 100%;
                .main-pic {
                    width: 40rem;
                    max-width: 90%;
                    margin: 0 auto;
                }
                #user-verification{
                    text-align: center;
                    label{
                        font-size: 1.5rem;
                        color: $orange;
                    }
                    #user-name{
                        width: 10rem;
                        height: 2rem;
                        color: $orange;
                        font-size: 1.5rem;
                        border: 1px solid $orange;
                        background: inherit;
                        padding: 0 5px;
                        margin-left: 10px;
                    }
                    #user-name:focus{
                        outline: none;
                    }
                }

                #lets-go {
                    width: 15rem;
                    max-width: 60%;
                    height: 5rem;
                    display: block;
                    color: $orange;
                    margin: 30px auto;
                    border-style: none;
                    font-size: 3rem;
                    font-weight: 600;
                    border-radius: 50px;
                    background-color: $mintGreen;
                    -webkit-transition: transform 200ms linear;
                    -moz-transition: transform 200ms linear;
                    -ms-transition: transform 200ms linear;
                    -o-transition: transform 200ms linear;
                    transition: transform 200ms linear;
                    cursor: pointer;

                }

                #lets-go:focus {
                    outline: none;
                }

                #lets-go:hover {
                    -webkit-transform: scale(1.1);
                    -moz-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    -o-transform: scale(1.1);
                    transform: scale(1.1);
                    -webkit-transition: transform 200ms linear;
                    -moz-transition: transform 200ms linear;
                    -ms-transition: transform 200ms linear;
                    -o-transition: transform 200ms linear;
                    transition: transform 200ms linear;
                }
                h1, h2, h3{
                    text-align: center;
                }
            }
    /* --------------------------------------FIRST PAGE END------------------------- */
            .to-do-page-wrapper{
                display: none;
            }
            .to-do-page-wrapper.visible{
                display: block;
                position: relative;
                height: 100%;
                .fa-plus-circle{
                    opacity: 0;
                    -webkit-transition: opacity 200ms linear;
                    -moz-transition: opacity 200ms linear;
                    -ms-transition: opacity 200ms linear;
                    -o-transition: opacity 200ms linear;
                    transition: opacity 200ms linear;
                }
                .fa-plus-circle.visible{
                    opacity: 1;
                    position: absolute;
                    bottom: 20px;
                    right: 20px;
                    width: 4rem;
                    height: 4rem;
                    font-size: 4rem;
                    color: $orange;
                    -webkit-transition: transform 200ms linear, opacity 200ms linear;
                    -moz-transition: transform 200ms linear, opacity 200ms linear;
                    -ms-transition: transform 200ms linear, opacity 200ms linear;
                    -o-transition: transform 200ms linear, opacity 200ms linear;
                    transition: transform 200ms linear, opacity 200ms linear;
                    cursor: pointer;
                }
                .fa-plus-circle.visible:hover{
                    -webkit-transform: scale(1.1);
                    -moz-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    -o-transform: scale(1.1);
                    transform: scale(1.1);
                    -webkit-transition: transform 200ms linear;
                    -moz-transition: transform 200ms linear;
                    -ms-transition: transform 200ms linear;
                    -o-transition: transform 200ms linear;
                    transition: transform 200ms linear;
                }
                header{
                    height: 10rem;
                    margin: 0 30px;
                    display: flex;
                    .avatar{
                        width: 10rem;
                        height: 10rem;
                        img{
                            width: 100%;
                            height: 100%;
                            border: 3px solid $orange;
                            border-radius: 100%;
                        }
                    }
                    .hello-msg{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 35rem;
                        h2{
                            margin: 30px;
                        }
                    }
                }
                .progress{
                    h2{
                        margin: 30px;
                        #done-task{
                            margin-left: 50px;
                        }
                    }
                    progress[value] {
                        /* Reset the default appearance */
                        -webkit-appearance: none;
                           -moz-appearance: none;
                                appearance: none;
                        
                        /* Get rid of default border in Firefox. */
                        border: none;
                        
                        /* Dimensions */
                        height: 2rem;
                        width: 50rem;
                        max-width: 80%;
                        margin: 30px;
                      }
                      progress[value]::-webkit-progress-bar{
                          border-radius: 25px;
                          background-color: inherit;
                          border: 1px solid $orange;
                      }
                      progress[value]::-webkit-progress-value {
                          border-radius: 25px;
                          background: -webkit-linear-gradient(135deg, rgba(0, 191, 140, 1) 0%, rgba(0, 194, 142, 1) 15%, rgba(254, 93, 71, 1) 85%, rgba(254, 103, 82, 1) 100%);
                      }
                    progress[value]::-moz-progress-bar{
                        border-radius: 25px;
                          background-color: inherit;
                          border: 1px solid $orange;
                    }
                    progress[value]::-moz-progress-value{
                        border-radius: 25px;
                        background: -webkit-linear-gradient(135deg, rgba(0, 191, 140, 1) 0%, rgba(0, 194, 142, 1) 15%, rgba(254, 93, 71, 1) 85%, rgba(254, 103, 82, 1) 100%);
                  }
                }
                .to-do-list-section.visible-background{
                    background-image: url('../img/entry_text_icon.svg');
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                .to-do-list-section{
                    width: 50rem;
                    max-width: 100%;
                    height: 40rem;
                    overflow-x: hidden;
                    overflow-y: scroll;
                    margin: 0 auto;
                    .to-do-list-add-modal{
                        -webkit-transform: translateX(120%);
                        -moz-transform: translateX(120%);
                        -ms-transform: translateX(120%);
                        -o-transform: translateX(120%);
                        transform: translateX(120%);
                        opacity: 0;
                    }
                    .to-do-list-add-modal.visible{
                        border: 3px solid $mintGreen;
                        border-radius: 25px;
                        width: 100%;
                        height: 40rem;
                        background-color: $whiteish;
                        display: flex;
                        flex-direction: column;
                        -webkit-transform: translateX(0);
                        -moz-transform: translateX(0);
                        -ms-transform: translateX(0);
                        -o-transform: translateX(0);
                        transform: translateX(0);
                        opacity: 1;
                        -webkit-transition: transform 100ms linear, opacity 200ms linear 100ms;
                        -moz-transition: transform 100ms linear, opacity 200ms linear 100ms;
                        -ms-transition: transform 100ms linear, opacity 200ms linear 100ms;
                        -o-transition: transform 100ms linear, opacity 200ms linear 100ms;
                        transition: transform 100ms linear, opacity 200ms linear 100ms;
                        input, textarea{
                            margin: 10px;
                            border: 1px solid $mintGreen;
                            background: inherit;
                            font-size: 1.5rem;
                            color: $orange;
                        }
                        label{
                            margin: 10px;
                            font-family: $mainFont;
                            color: $orange;
                            font-size: 2rem;
                        }
                        input{
                            height: 3rem;
                        }
                        
                        textarea, input:focus{
                            outline: none;
                        }
                        textarea{
                            height: 5rem;
                            
                        }
                        .to-do-list-confirmation{
                            display: flex;
                            input[type=button]{
                                width: 12rem;
                                max-width: 60%;
                                height: 4rem;
                                margin: 40px auto;
                                border-style: none;
                                border-radius: 25px;
                                background-color: $mintGreen;
                                color: $orange;
                                font-size: 2rem;
                                font-weight: 600;
                                border-radius: 50px;
                                -webkit-transition: transform 200ms linear;
                                -moz-transition: transform 200ms linear;
                                -ms-transition: transform 200ms linear;
                                -o-transition: transform 200ms linear;
                                transition: transform 200ms linear;
    
                            }
                            input[type=button]:hover{
                                -webkit-transform: scale(1.1);
                                -moz-transform: scale(1.1);
                                -ms-transform: scale(1.1);
                                -o-transform: scale(1.1);
                                transform: scale(1.1);
                                -webkit-transition: transform 200ms linear;
                                -moz-transition: transform 200ms linear;
                                -ms-transition: transform 200ms linear;
                                -o-transition: transform 200ms linear;
                                transition: transform 200ms linear;
                            }
                        }
                    }
                    li{
                        display: none;
                    }
                    li.visible{
                        display: block;
                        position: relative;
                        width: 40rem;
                        max-width: 90%;
                        list-style: none;
                        padding: 10px;
                        margin: 10px auto;
                        border: 1px solid $mintGreen;
                        border-left: 10px solid $mintGreen;
                        border-top-right-radius: 25px;
                        border-bottom-right-radius: 25px;
                        color: $orange;
                        p{
                            padding: 5px;
                            word-break: break-all;
                            white-space: normal;
                        }
                        h4, p, .fas{
                            font-size: 1.5rem;
                        }
                        .check-task{
                            position: absolute;
                            top: 15px;
                            right: 30px;
                        }
                        .remove-task{
                            position: absolute;
                            bottom: 15px;
                            right: 30px;
                        }
                    }
                    li.task-checked{
                        border: 1px solid $orange;
                        border-left: 10px solid $orange;
                    }
                }
            }
        }
    }
}